body{
  background: linear-gradient(180deg, #1A1A1A 50%, #252525 50%);
  height: 100vh;
}

.history-page{
  background: #1A1A1A;
  height: 100vh;
  width: 100%;
}

.custom-container{
  width: 90%;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -Webkit-appearance: none; 
  margin: 0; 
}
