body{
  background: linear-gradient(180deg, #1A1A1A 50%, #252525 50%);
  height: 100vh;
  padding: 40px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -Webkit-appearance: none; 
  margin: 0; 
}
